.App {
  min-height: 100vh;
  -webkit-overflow-scrolling: touch;
  display: flex;
  flex-direction: column;
}

.page-content {
  flex: 1;
  width: auto;
  min-height: 100vh;
  position: relative;
  white-space: nowrap;
  overflow: visible;
  margin: 0%;
}

.content-wrapper {
  position: relative;
  margin: 1% 1% 1% 1%;
  height: 100%;
  width: 98%;
  background: rgb(255, 255, 255, 0.8);
  backdrop-filter: blur(3px);
  border-radius: 10px;
}

/* Norppa logo */
.App-logo {
  left:10%;
  bottom:15%;
  height: 20vmin;
  position:absolute;
  width: auto;
  pointer-events: all;
  z-index: -1;
}

.flex-container {
  display: flex;
  flex-direction: row;
  height: 60%;
  margin-top: 15%;
  width: auto;
}

.flex-wrapper {
  flex: 1;
  margin: 0 1%;
}

.flex-wrapper.timetable {
  margin-right: 0;
}

.flex-wrapper.video {
  margin-left: 0;
  margin-right: 2%;
}

.video-title {
  text-align: center;
  font-size: 2.5vw;
  font-weight: bold;
  color: black
}

video {
  border-radius: 10px;
  overflow: hidden;
  width: 100vw;
  height: auto;
  object-fit: fill;
}

.timetable-title {
  font-size: 2.5vw;
  font-weight: bold;
  color: black;
  text-align: center;
}

.timetable-list-title {
  font-size: 1.5vw;
  font-weight: bold;
  color: black;
}

/* Countdown timer */
.countdown-wrapper {
  position: absolute;
  top: 2%;
  margin: 0 5% 1rem;
  border-radius: 10px;
  width: 90%;
  height: 25%;
  background-color: #E62020;
  /* box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.countdown-title {
  color: white;
  font-size: 3vw;
  font-weight: bold;
  text-shadow: 0 0 10px black;
  text-align: center;
}

/* CSS for bottom navigation bar*/
.bottomnav{
  opacity: 0.6; /* Set the initial opacity to make it barely visible */
  transition: opacity 0.3s ease; /* Add a smooth transition effect */
}

.bottomnav:hover {
  opacity: 1; /* Set the opacity to 1 when hovering to make it completely visible */
}

