:root {
  --modifiedValue: 20;
}


.App-background {
  /* background-image: url("/src/assets/images/bground.png");
  background-color: lightblue;
  background-size: 100% 100%, cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh; */
  height: 100vh;
  width: auto;
  position: relative;
  overflow: hidden;
}

.content-wrapper {
  position: absolute;
  top: 65%;
  left: 70%;
  height: auto;
  width: 45%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  /*
  border-radius: 10px;
  margin:0 50px 0 50px;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 85% 100% , 50% 89%, 20% 74%, 0% 63%);
  overflow: auto; */
}

.App-title-logo {
  background-color: red;
  width: 100%;
}

video {
  border: 1px solid white;
  border-radius: 10px;
  overflow: hidden;
}

.countdown-wrapper {
  position: absolute;
  top: 40%;
  left: 10%;
  border-radius: 10px;
  background: rgb(255, 255, 255, 1);
  overflow: hidden;
  transform: skew(0deg, -12deg);
}

.App-logo {
  left:10%;
  bottom:15%;
  height: 15vmin;
  position:absolute;
  width: auto;
  pointer-events:all
}

.App-counter {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1200px) {
  .App-logo {
    visibility: hidden;
  }
  
}

@media screen and (max-width: 550px) {
  .App-background {
    background-image: url("/src/assets/images/bgroundMobile.png");
    background-color: lightblue;
    background-size: 100% 100%, cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: auto;
    position: relative;
    overflow: hidden;
  }

  .content-wrapper {
    position: absolute;
    top: 50%;
    right: 4rem;
    color: white;
    font-weight: bold;
    text-shadow: 0 0 10px black;
    font-size: 3vw;
    margin: 1%
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo[data-animate="true"] {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.countdown-timer {
  display: flex;
  align-items: center;
  background-color: inherit;
}

.timer-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px;
}

/* CSS for bottom navigation bar*/
.bottomnav{
  opacity: 0.5; /* Set the initial opacity to make it barely visible */
  transition: opacity 0.3s ease; /* Add a smooth transition effect */
}

.bottomnav:hover {
  opacity: 1; /* Set the opacity to 1 when hovering to make it completely visible */
}

.flex-container {
  display: flex;
}

.flex-child {
  flex: 1;
  padding: 5px;
  text-align: center;
}

.flex-child:first-child {
  background-color: #555;
  color: white;
  margin: 5px;
}