.App {
  min-height: 100vh;
  -webkit-overflow-scrolling: touch;
  display: flex;
  flex-direction: column;
}

video {
  overflow: hidden;
  width: 100%;
  object-fit: cover;
}

.content-wrapper {
  position: relative;
  margin: 0%;
  height: 100%;
  width: 100%;
  backdrop-filter: blur(3px);
  padding-bottom: 15rem;
}

a {
  color: #ff239f;
}

@media screen and (max-width: 320px) {
  .App {
    overflow-x: hidden;
  }

}