.excursion {
    margin: 1% !important;
}

.grid-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.grid-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.contact-title {
    font-weight: bold !important;
    color: white;
    padding: 0.5rem;
}

.contact-text {
    padding: 0.5rem;
}

.contact-button {
    background-color: white !important;
    width: 90%;
    margin: 1rem auto 2rem !important;
    align-self: center;
    cursor: pointer;
}


