.countdown-timer {
    width: fit-content;
    margin: 0.2rem auto;
    display: flex;
    font-weight: bold;
    color: white;
    text-shadow: 0 0 10px black;
}

.timer-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px;
}

