.countdown-timer {
    position: relative;
    width: fit-content;
    height: auto;
    margin: 0.8rem auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1.2vw;
    font-weight: bold;
    color: white;
    text-shadow: 0 0 10px black;
}

.timer-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px;
}

@media screen and (max-width: 550px) {
    .countdown-timer {
        font-size: 3.5vw !important;
    }
}

@media screen and (max-height: 450px) {
    .countdown-timer {
        font-size: 1.4vw !important;
    }
}
