.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: auto;
    background-color: white;
    color: black;
    text-align: center;
    visibility: visible;
}

@media screen and (max-width: 750px) and (max-height: 450px) {
    .footer {
        visibility: hidden;
    }
}