@media screen and ((max-width: 600px) or (max-height: 400px)) {
    .timer-bar {
        flex-direction: column !important;
    }

    .App-header {
        height: 0px;
        visibility: hidden;
    }
}