/* Kolmio.css */

.video-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.kolmio-video {
  width: 100%;
  height: auto;
}

/* Media query for screens smaller than 600 pixels (adjust the breakpoint as needed) */
@media (max-width: 600px) {
  .video-wrapper {
    height: 100%; /* Change height to auto for smaller screens */
  }

  .kolmio-video {
    width: 100vw; /* Set video width to 100% of viewport width */
    height: 100vh; /* Set video height to 100% of viewport height */
    object-fit: cover; /* Ensure the video covers the entire container, cropping if needed */
  }
}
