.navbar {
    height: 55px;
    width: fit-content;
    position: fixed;
    top: 0;
    z-index: 100;

}

@media screen and (max-width: 600px) {

    .home-button {
        font-size: 3rem !important;
    }
}