.map {
    width: 70%;
    height: 70%;
    object-fit: contain;
    display: block;
}

.map-title {
    font-weight: bold !important;
    color: black;
    text-align: center;
    background-color: none;
}