.navbar-title {
    height: 70px;
    width: auto;
}

@media screen and (max-width: 1105px) {
    .navbar-link {
        font-size: 1.14vw !important;
    }
    
}
@media screen and (max-width: 768px) {
    .navbar-title {
        height: 50px;
    }
}

@media screen and (max-width: 375px) {
    .navbar-title {
        height: 40px;
    }
}

@media screen and (max-width: 320px) {
    .navbar-title {
        height: 32px;
    }
}

