.timetable {
    margin: 1% 2% !important;
}

.timetable-image-1 {
    width: 100%;
    height: 100%;
    object-fit: fill;
    display: block;
}

.timetable-image-2 {
    width: 100%;
    object-fit: fill;
}

.indent {
    margin-left: 7.75rem;
}

.kotipizza {
    color: green;
    font-weight: bold;
    text-transform: uppercase;
}
.small-indent {
    margin-left: 3rem;
}

.timetable-grid{
    background: white;
    padding: 2% 0% 0% 2% !important;
}

.timetable-title {
    font-weight: bold !important;
    color: black;
}

.timetable-text {
    font-size: 1.3rem;
    color: black;
    line-height: 1.5;
    margin-block-start: 0rem;
}

.timetable-item {
    margin-bottom: 0.5rem;
}

.location {
    font-weight: 500;
}

.jatkot {
    font-style: oblique;
    border-bottom: 1px dotted black;
}

@media screen and (max-width: 1200px) {
    .timetable-text {
        font-size: 1rem;
    }

    .indent {
        margin-left: 3rem;
    }
}

@media screen  and (max-width: 600px) {
    .timetable-text {
        font-size: 0.5rem;
    }
}

@media  screen and (max-width: 400px)	 {
    .timetable-text {
        font-size: 0.4rem;
    }

    .indent {
        margin-left: 2.4rem;
    }
}